// Cores
$cor-primaria: #4a90e2;
$cor-secundaria: #f5f5f5;
$cor-texto: #333;
$cor-botao: #e91e63;
$cor-fundo-escuro: #121212;
$cor-texto-escuro: #5f5f5f;


// Fonte
$fonte-principal: "Inter", sans-serif;

// Espaçamento
$padding-padrao: 2rem;